@keyframes rotation__square{
      from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation__triangle{
      from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}