.header__title {
    max-width: 730px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 3;
}
